.popup {
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color--black, 0.5);
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 300;
  }

  &__content {
    width: 75%;
    // height: 50rem;
    background-color: white;
    @include absoluteCenter;
    border-radius: 3px;
    box-shadow: 0 2rem 2rem rgba($color--black, 0.2);
  }

  &__left {
    background-image: url(../img/nat-9.jpg);
    background-position: center;
    background-size: cover;
    width: 33.33333%;
    float: left;
  }

  &__right {
    width: 66.66667%;
    float: right;
    padding: 4rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__subheading {
    font-size: $font-size--default;
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba($color--grey, 0.2);
  }
}
