.u-center-text {
  text-align: center !important;
}

.u-m-b-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }
}

.u-m-b-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-m-b-small {
  margin-bottom: 2rem !important;
}

.u-m-t-big {
  margin-top: 8rem !important;

  @include respond(tab-port) {
    margin-top: 4rem !important;
  }
}

.u-m-t-medium {
  margin-top: 4rem !important;

  @include respond(tab-port) {
    margin-top: 3rem !important;
  }
}

.u-m-t-small {
  margin-top: 2rem !important;
}
