@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// phone: Phone: <= 600px
// tab-port: Tablet: <= 900px
// tab-land: Tablet Portrait: <= 1200px
// [Desktop: <=1800px] - Normal style
// big-desktop: Big Desktop: > 1800px

@mixin respond($device) {
  @if ($device == phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if ($device == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($device == tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($device == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
